venv/
photogrammetry_env/
.idea/

UWB/output/
Photogrammetry/output/
Photogrammetry/input/left_videos/
Photogrammetry/input/right_videos/
synchronisation/matched_sync/
Practising_with_phones/time_series/

*.MP4
*.mp4
*.jpg
*.JPG
*.png
*.PNG
*.drawio
*.obj
*.ply
*.csv
!Photogrammetry/static_experiments/static_test_output/*.csv
*.npy
*.wav
*.ulg

__pycache__/
main simulation/__pycache__/
synchronisation/__pycache__/

